/* style.css */

/* Base page styling */
:root {
    --primary-dark: #333;
    --primary-light: #ededed;
    --secondary-light: #fefefe;
}

body {
background-color: var(--primary-light);
color: var(--primary-dark);
font-family: 'Roboto', sans-serif;
line-height: 1.6;
margin-bottom: 100px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

/* Text styling for paragraphs on entire page */
a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* Top navigation bar */
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    font-size: 24px;
    color: F9FAF8;
    font-weight: bold;
    padding-left: 120px;
    padding-right: 120px;
    margin: 0%;
    /* Not sure if I like this font better than Roboto or not */s
    /*font-family: Impact, fantasy;*/
}

.header .left {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-top: 40px;
    color: #E5E7EB;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
    list-style-type: none;
    padding-top: 40px;
}

/* Styling for main part of the page */
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left-m {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 8vw;
    gap: 1vw;
    padding: 8vw;

}

.right-m {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8vw;
}
/*Random Mode Button*/
.random-mode {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.random-mode:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.random-mode:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/*Eraser Button*/
.erase {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .erase:hover,
  .erase:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .erase:active {
    background: var(--color);
    color: #fff;
  }

/*Clear Button*/
.clear {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.clear:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

#grid {
    border: 1px solid black;
    background-color: white;
}

#grid td {
 width: 20px;
height: 20px;
border: 1px solid black;
}

/*Range Slider*/
body {
    background: white);
    }

.slider {
padding: 2%;
background: #fcfcfc;
border-radius: 20px;
display: flex;
align-items: center;
}

.slider label {
font-size: 24px;
font-weight: 400;
font-family: Open Sans;
padding-left: 1%;
padding-right: 7%;
color: black;
}

.slider input[type="range"] {
width: 420px;
height: 2px;
background: black;
border: none;
outline: none;
}

/* Color Picker */
body {
margin: 0;
padding: 0;
background-color: #e6e6e6;
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    margin-bottom: 15px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

#color-input {
    display: none;
}

#color-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} 

#color-label:hover {
    transform: scale(1.1);
}


.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#color-input:checked ~ #color-picker {
    opacity: 1;
}

#color-picker {
position: absolute;
left: 70px;
top: 200px;
background-color: white;
height: 150px;
width: 185px;
border: solid 1px #ccc;
opacity: 0;
padding: 5px;
}

canvas:hover {
cursor: crosshair;
}
